.threeCol1 {
    height: 100px;
    padding: 0 200px;

    .main,
    .right,
    .left {
        float: left;
    }

    .right,
    .left {
        position: relative;
        height: 50%;
        width: 200px;
        background-color: aqua;
    }

    .left {
        margin-left: -100%;
        left: -200px
    }

    .right {
        margin-left: -200px;
        right: -200px;
    }

    .main {
        height: 100%;
        background-color: aquamarine;
        width: 100%;
    }
}

.threeCol2 {
    margin-top: 20px;
    height: 100px;

    .main,
    .right,
    .left {
        float: left;
    }

    .right,
    .left {
        position: relative;
        height: 50%;
        width: 200px;
        background-color: aqua;
    }

    .left {
        margin-left: -100%;
    }

    .right {
        margin-left: -200px;
    }

    .main {
        height: 100%;
        background-color: aquamarine;
        width: 100%;

        .inner {
            margin: 0 200px;
            height: 100%;
            background-color: bisque;
        }
    }
}

.threeCol3 {
    margin-top: 20px;
    height: 100px;

    .right,
    .left {
        width: 200px;
        background-color: aqua;
        height: 50%;
    }

    .right {
        float: right;
    }

    .left {
        float: left;
    }

    .main {
        height: 100%;
        background-color: aquamarine;
        overflow: hidden;
    }

}

.threeCol4 {
    margin-top: 20px;
    height: 100px;
    display: flex;

    .right,
    .left {
        width: 200px;
        background-color: aqua;
        height: 50%;
    }

    .main {
        flex: 1;
        height: 100%;
        background-color: aquamarine;
    }

}

.threeCol5 {
    margin-top: 20px;
    height: 100px;
    display: grid;
    grid-template-columns: 200px auto 200px;

    .right,
    .left {
        background-color: aqua;
        height: 50%;
    }

    .main {
        height: 100%;
        background-color: aquamarine;
    }

}

.flexDiv{
    display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  white-space: nowrap;
  gap: 8px;
  padding: 8px;
  position: relative;
  height: 100px;
  &::after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 50px;
  background: linear-gradient(to right, transparent, white);
  pointer-events: none;
}
  .flexDivtag{
    width: 300px;
    height: 100px;
    background: #f0f0f0;
    padding: 4px 12px;
    border-radius: 15px;
    font-size: 14px;
    white-space: nowrap;
    flex-shrink: 0;
  }
}